.notification {
  width: max-content;
  height: 3rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 29px;
  margin: auto;
  border-radius: 2px;
  align-items: center;
  color: white;
  justify-content: center;
  }
  
  .notification h2,
  .notification p {
    font-size: 1rem;
    margin: 0;
  }
  
  .error{
    background-color: #da1818;
  }
  
  .success{
    background-color: #1ad1b9;
  }